<h1>Welcome to the Exam</h1>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <p>
      This is the welcome page. It should be replaced with something else, such
      as a <%= link_to 'list of current mitts', timeline_path %>
    </p>
  </div>
</div>
