<%= form_for(:session, url: sessions_path, html: {class:'form-inline'}) do |f| %>
  <div class="form-group">
    <%= f.label :username %>
    <%= f.text_field :username, class: 'form-control'%>
  </div>
  <div class="form-group">
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control' %>
  </div>
  <%= f.button 'Login', class:"btn btn-primary" %>
<% end %>
