<h1>Login</h1>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <%= render 'form' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    You don't have an account? <%= link_to 'Create account', new_user_path %>
  </div>
</div>
