<%= form_for(@user) do |f| %>
  <div class="form-group <%= @user.errors.include?(:username) ? 'has-error' : '' %>">
    <%= f.label :username, class: 'control-label' %>
    <%= f.text_field :username, class: 'form-control' %>
    <% if @user.errors.include?(:username) %>
    <% @user.errors.full_messages_for(:username).each do |message| %>
      <span class="help-block"><%= message %></span>
    <% end %>
    <% end %>
  </div>
  <div class="form-group <%= @user.errors.include?(:email) ? 'has-error' : '' %>">
    <%= f.label :email, class: 'control-label' %>
    <%= f.text_field :email, class: 'form-control' %>
    <% if @user.errors.include?(:email) %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <span class="help-block"><%= message %></span>
    <% end %>
    <% end %>

  </div>
  <div class="form-group <%= @user.errors.include?(:password) ? 'has-error' : '' %>">
    <%= f.label :password, class: 'control-label' %>
    <%= f.password_field :password, class: 'form-control' %>
    <% if @user.errors.include?(:password) %>
    <% @user.errors.full_messages_for(:password).each do |message| %>
      <span class="help-block"><%= message %></span>
    <% end %>
    <% end %>
  </div>
  <div class="form-group <%= @user.errors.include?(:password_confirmation) ? 'has-error' : '' %>">
    <%= f.label :password_confirmation, class: 'control-label' %>
    <%= f.password_field :password_confirmation, class: 'form-control' %>
    <% if @user.errors.include?(:password_confirmation) %>
    <% @user.errors.full_messages_for(:password_confirmation).each do |message| %>
      <span class="help-block"><%= message %></span>
    <% end %>
    <% end %>
  </div>

  <%= f.submit class:"btn btn-primary" %>
<% end %>
