<h1>Sign up</h1>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <p>
        Create your account here
    </p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    Do you have an account already? <%= link_to 'Login', login_path %>
  </div>
</div>
