<h1><%= @user.username -%>'s mitts:</h1>

<% if current_user == @user %>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <%= render partial: 'mitts/form', locals: {mitt: Mitt.new} %>
  </div>
</div>
<% end %>


<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <% @user.mitts.order(created_at: :desc).each do |mitt| %>
      <%= render partial:'mitts/mitt', object: mitt %>
    <% end %>
  </div>
</div>

<% if current_user == @user %>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <%= link_to 'Edit user', edit_user_path %>
  </div>
</div>
<% end %>
