<%= form_for(mitt) do |f| %>
  <%= f.hidden_field :response_to_id %>
  <div class="form-group">
    <%= f.label :content, "New mitt:" %><br>
    <div class="input-group">
      <%= f.text_area :content, class: 'form-control' %>
      <span class="input-group-addon count">0</span>
    </div>
  </div>
  <%= f.submit class:"btn btn-primary pull-right"%>
  <div class="clearfix"></div>
  <% if mitt.errors.any? %>
  <ul>
    <% mitt.errors.full_messages.each do |message| %>
      <li class="text-danger"><%= message %></li>
    <% end %>
  </ul>
  <% end %>
<% end %>
