<div class="mitt">
    <div class="mitt-header">
        <%= link_to mitt.username, mitt.user %>
        wrote
        <%= link_to time_ago_in_words(mitt.created_at), mitt %>
        ago:
    </div>
    <div class="mitt-content">
        <%= sanitize link_usernames(mitt.content) %>
    </div>
    <div class="mitt-footer">
    <% if mitt.by_user? current_user %>
      <%= link_to 'Delete', mitt, method: :delete, class: 'btn btn-danger btn-xs' %>
    <% end %>
    </div>
</div>
