<h1>Mitts</h1>

<% if logged_in? %>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <%= render partial: 'form', locals: {mitt: Mitt.new} %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <% @mitts.each do |mitt| %>
      <%= render partial: 'mitt', object: mitt %>
    <% end %>
  </div>
</div>
