<% unless @mitt.response_to.nil? %>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2>Original:</h2>
    <%= render partial:'mitt', object: @mitt.response_to %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2>Mitt:</h2>
    <%= render @mitt %>
  </div>
</div>

<% if @mitt.responses.any? %>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <h2>Responses:</h2>
    <% @mitt.responses.each do |mitt| %>
      <%= render partial:'mitt', object: mitt %>
    <% end %>
  </div>
</div>
<% end %>

<% if logged_in? %>
<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    Respond to this mitt:
    <%= render partial:'form', locals:{mitt: Mitt.new(response_to: @mitt)} %>
  </div>
</div>
<% end %>

<div class="row">
  <div class="col-xs-12 col-md-8 col-md-offset-2">
    <%= link_to 'All mitts', timeline_path %>
  </div>
</div>
