// Place all the styles related to the Mitts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$mitt-background: hsla(10, 10%, 50%, 0.2);
$border: hsla(10, 10%, 50%, 0.8);
$border-width: 2px;
$border-top-radius: 5px;
$border-bottom-radius: 2px;

body {
  padding-top: 30px;
}

form#new_mitt {
  margin-bottom: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(20, 20, 240, 0.02);
  border-radius: 2px;
  padding-bottom: 20px;
  padding-top: 10px;

  .count {
    min-width: 3em;
  }
}

.mitt {
  margin-bottom: 10px;

  .mitt-header {
    border-top-right-radius: $border-top-radius;
    border-top-left-radius: $border-top-radius;
    border-color: $border;
    border-top-style: solid;
    background-color: $mitt-background;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
    border-width: $border-width;
    border-bottom-style: none;
    padding-top: 0.5em;
    padding-bottom: 1em;
  }

  .mitt-content {
    font-size: larger;
    padding: 1em;
    border-left-style: solid;
    border-right-style: solid;
    border-width: $border-width;
    border-color: $border;

  }

  .mitt-footer {
    font-size: smaller;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-width: $border-width;
    border-color: $border;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: $mitt-background;
    border-bottom-left-radius: $border-bottom-radius;
    border-bottom-right-radius: $border-bottom-radius;
  }
}
