<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Mitter</title>
        <%= stylesheet_link_tag    'application', media: 'all' %>
        <%= javascript_include_tag 'application' %>
        <%= csrf_meta_tags %>
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-xs-4 text-left">
                    <%= link_to 'Home', root_url %>
                </div>
                <% if logged_in? %>
                <div class="col-xs-4 text-center">
                    <%= link_to 'My Profile', user_url(current_user) %>
                </div>
                <div class="col-xs-4 text-right">
                    <%= link_to 'Logout', logout_url, method: :delete %>
                </div>
            <% else %>
                <div class="col-xs-4 text-center">
                    <%= link_to 'Signup', signup_url %>
                </div>
                <div class="col-xs-4 text-right">
                    <%= link_to 'Login', login_url %>
                </div>
                <% end %>
            </div>
        </div>
        <div class="container">
            <% flash.each do |name, msg| -%>
            <%= content_tag :div, {class: ["alert", "alert-#{name}"], role: 'alert'} do %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <%= msg %>
            <% end -%>
            <% end -%>
        </div>

        <div class="container">
            <%= yield %>
        </div>

    </body>
</html>
